@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .faq-collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

            .active, .faq-collapsible:hover {
                background-color: #555;
            }

        .faq-content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <button type="button" class="faq-collapsible">Who Are We?</button>
    <div class="faq-content">
        <p>
            We are a wholesale fireworks distributor based in Ohio.
            We have 3 locations in Hubbard, Niles, and North Canton.
            We are commited to prividning our customers with qualiy fireworks at competitive prices.
        </p>
    </div>

    <button type="button" class="faq-collapsible">What Do You Sell?</button>
    <div class="faq-content">
        <p>
            We sell a large number of firework options from sparklers to cases.
            We parner with different brands to sell unique options.
            We offer seasonal deals and specialty fireworks that rotate year-round.
            We also offer some of our homemade firework options
        </p>
    </div>

    <button type="button" class="faq-collapsible">Are You Responsible For Any Injuries Or Damage?</button>
    <div class="faq-content">
        <p>
            No, we are not responsible for any injuries or damage. 
            When you purchase our products, you agree to safely and responsibly use them.
            You agree to use common sense and adhere to any local safety rules.
   
        </p>
    </div>

    <button type="button" class="faq-collapsible">Do I Need To Create An Account?</button>
    <div class="faq-content">
        <p>
            You do not need to create an account if you are only looking a our products.
            An account will be required in order to purchase any products from our website.
        </p>
    </div>

    <button type="button" class="faq-collapsible">What Is The AFW Product Line?</button>
    <div class="faq-content">
        <p>
            The AFW product line is our own fireworks that we create in-house.
            The products are an exclusive line of high performance items 
            that are designed from concept to artwork by our talented design team.
            We pride ourselves in the quality and pricing of our homemade products. 
        </p>
    </div>

    <button type="button" class="faq-collapsible">Are The Products Returnable or Exchanagble?</button>
    <div class="faq-content">
        <p>
            The products are not returnable or exchangable. It is the customer's responsibility to ensure 
            they are satisfied with the contents of their order. The customer is prompted to confirm their 
            order upon checking out of the online store.
        </p>
    </div>

    <button type="button" class="faq-collapsible">Do You Match Prices?</button>
    <div class="faq-content">
        <p>
            We do not match any prices with competitiors or other distributors. 
            We offer our firewroks wholesale and sell them at competitive market prices.
            We do offer some case discounts or coupons periodically throughout the year.
        </p>
    </div>

    <button type="button" class="faq-collapsible">How Do I Contact You?</button>
    <div class="faq-content">
        <p>
            You may contact us by visiting one of our 3 locations located in Hubbard, 
            Niles, or North Canton, or by calling 800-356-9626.
        </p>
    </div>

    <button type="button" class="faq-collapsible">Is Registering An Account Safe?</button>
    <div class="faq-content">
        <p>
            We do not sell or misuse any information you provide. 
            We take out customer's privacy very seriosuly and do 
            not allow any third-parties access to any provided intodmation 
        </p>
    </div>

    <button type="button" class="faq-collapsible">What Do I Do If My Order Does Not Arrive?</button>
    <div class="faq-content">
        <p>
            If your order does not arrive, please check the website for your tracking 
            information and contact us directly if the issue needs further investigation.
        </p>
    </div>


    <script>
        var coll = document.getElementsByClassName("faq-collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</body>
