@{
    ViewData["Title"] = "Home Page";
}


<body>

    

    <section class="contacts4 cid-sqO3f38dYc" id="contacts4-6">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="icons d-flex align-items-center col-12 col-md-6">
                    <a href="#" target="_blank">
                        <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="font-size: 25px;"></span>
                    </a>
                    <a href="#" target="_blank">
                        <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="font-size: 25px;"></span>
                    </a>
                    <a href="#" target="_blank">
                        <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon" style="font-size: 25px;"></span>
                    </a>
                    <a href="#" target="_blank">
                        <span class="mbr-iconfont mbr-iconfont-social socicon-flickr socicon" style="font-size: 25px;"></span>
                    </a>
                    <a href="#" target="_blank">
                        <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon" style="font-size: 25px;"></span>
                    </a>
                </div>
                <div class="text-content col-12 col-md-6">
                    <h2 style="float: right;" class="mbr-section-title mbr-fonts-style display-5"><strong>800-356-9626</strong></h2>

                </div>
            </div>
        </div>

    </section>

    <section class="header2 cid-sqNROZTjP1 mbr-parallax-background" id="header2-1">



        <div class="mbr-overlay" style="opacity: 0; background-color: rgb(255, 255, 255);"></div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Wholesale</strong><br></h1>
                    <h2 class="mbr-section-subtitle mbr-fonts-style mb-3 display-2"><strong>& Case Lot Specials</strong></h2>
                    <p class="mbr-text mbr-fonts-style display-7">Due To COVID-19 supply interruptions and<br>limitations, Wholesale Fireworks reserves<br>the right to limit the number of cases<br>ordered per item</p>
                    
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: white;" class="info1 cid-sqOb2fWKjs" id="info1-8">


        <div style="margin-bottom: 30px;" class="align-center container">
            <div class="row justify-content-center">
                <div style="background-color: #d40406;margin-top: -46px;" class="col-12 col-lg-8">
                    <h3 style="margin-top: 20px;" class="mbr-section-title mb-4 mbr-fonts-style display-7">
                        <strong style="color: white;">COVID-19 &amp; The New Stay Safe Ohio Order Update (1/22/21) +</strong><br>
                        <strong>2021 CONSUMERS FIREWORKS UPDATE (2/11/21) +</strong>
                    </h3>


                </div>
            </div>
        </div>
    </section>

    <section style="background-color:#002c7d;"
             class="slider2 cid-sse2IF0K87" id="slider2-k">



        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="carousel slide" id="sseayHKvh3" data-ride="carousel" data-interval="5000">

                        <ol class="carousel-indicators">
                            <li data-slide-to="0" class="active" data-target="#sseayHKvh3"></li>
                            <li data-slide-to="1" data-target="#sseayHKvh3"></li>
                            <li data-slide-to="2" data-target="#sseayHKvh3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item slider-image item active">
                                <div class="item-wrapper">
                                    <img class="d-block w-100" src="assets/images/dark-1845065-1921-696x464.jpeg" data-slide-to="0">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                                            <strong>Fixed-Height Slider</strong>
                                        </h5>
                                        <p class="mbr-section-text mbr-fonts-style display-7">
                                            Click on the image to edit slides.
                                        </p>
                                    </div>
                                </div>
                            </div><div class="carousel-item slider-image item">
                                <div class="item-wrapper">
                                    <img class="d-block w-100" src="assets/images/japan-5021733-1921-696x464.jpeg" data-slide-to="1">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                                            <strong>Fixed-Height Slider</strong>
                                        </h5>
                                        <p class="mbr-section-text mbr-fonts-style display-7">
                                            Click on the image to edit slides.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item slider-image item">
                                <div class="item-wrapper">
                                    <img class="d-block w-100" src="assets/images/shutterstock-281822832-696x452.jpeg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                                            <strong>Fixed-Height Slider</strong>
                                        </h5>
                                        <p class="mbr-section-text mbr-fonts-style display-7">
                                            Click on the image to edit slides.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#sseayHKvh3">
                            <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#sseayHKvh3">
                            <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt-4">

                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img" style="background-color:#d40406;border: 3px solid white;height: 220px;">
                            <h3 style="color: white;" class="mbr-section-title mbr-fonts-style align-center mb-4 display-5">
                                <strong>Coupons</strong>
                            </h3>
                            <div style="text-align:center;" class="mbr-section-btn mt-3"><a class="btn btn-warning display-4" href="#">Click Here</a></div>
                            <!-- <img src="assets/images/shutterstock-281822831-696x452.jpeg" alt="" data-slide-to="0"> -->
                            <h3 style="color: white;text-align: center;">
                                For Explosive Savings
                            </h3>
                        </div>

                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper" style="margin-top: -15px;margin-bottom: 40px;">
                        <div class="item-img" style="background-color:#fac815;border: 3px solid white;height: 270px;">
                            <h3 style="color: white;" class="mbr-section-title mbr-fonts-style align-center mb-4 display-5">
                                <strong style="color:black;">New 2021 Winter 1.4G Price List</strong>
                            </h3>
                            <div style="text-align: center;" class="mbr-section-btn mt-3">
                                <button class="btn" style="background-color: #020E43;color: white;;" href="#">Download</button>
                            </div>
                            <!-- <img src="assets/images/shutterstock-281822831-696x452.jpeg" alt="" data-slide-to="0"> -->
                            <h3 style="color: black;text-align: center;">
                                New 2021 Winter 1.4G <br>Price List
                            </h3>
                        </div>

                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img" style="background-color:#d40406;border: 3px solid white;height: 220px;">
                            <h3 style="color: white;" class="mbr-section-title mbr-fonts-style align-center mb-4 display-5">
                                <strong>Tracking</strong>
                            </h3>
                            <div style="text-align:center;" class="mbr-section-btn mt-3"><a class="btn btn-warning display-4" href="#">Track</a></div>
                            <!-- <img src="assets/images/shutterstock-281822831-696x452.jpeg" alt="" data-slide-to="0"> -->
                            <h3 style="color: white;text-align: center;">
                                Easily Track Your<br> Shipment Online
                            </h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery2 cid-ss1VV3OkFY" id="gallery2-e">


        <div class="container">
            <div class="mbr-section-head">
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Our Products</strong></h4>

            </div>
            <div class="row mt-4">

                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/shutterstock-281822831-696x452.jpeg" alt="" data-slide-to="0">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">2021 New Items</h5>


                        </div>

                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/japan-5021733-1920-696x464.jpeg" alt="" data-slide-to="1">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">Brand Manufacturer</h5>


                        </div>

                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/dark-1845065-1920-696x464.jpeg" alt="" data-slide-to="2">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">Wedding Sparkles</h5>


                        </div>

                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/mbr-3-1920x1280.jpeg" alt="" title="">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">New Year Party items</h5>


                        </div>

                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/sparklers-828570-1280-696x464.jpeg" alt="" title="" data-slide-to="4">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">Party Items</h5>


                        </div>

                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/mbr-1-1280x960.jpeg" alt="" title="" data-slide-to="5">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">Fireworks Packets</h5>


                        </div>

                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="btn" style="background-color: #010E8B;color: white;;" href="#">All Products</button>
            </div>
        </div>
    </section>

    <section class="features2 cid-ssdVc1JTbS" id="features3-f">


        <div class="container">

            <div class="row mt-4">
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <!-- <div class="item-img">
                            <img src="assets/images/japan-5021733-1923-696x464.jpeg" alt="">
                        </div> -->
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>2021 RTN </strong><br><strong>Scholarship</strong></h5>

                            <p class="mbr-text mbr-fonts-style mt-3 display-7">Learn about the Richard <br>T. Naples Scholarship for High School and <br>College Students</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-warning display-4" target="_blank">Learn more </a></div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <!-- <div class="item-img">
                            <img src="assets/images/mbr-696x302.jpeg" alt="">
                        </div> -->
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>Wfboom Fireworks Newsletter</strong></h5>

                            <p class="mbr-text mbr-fonts-style mt-3 display-7">Sign up for our <br>newsletter to stay up to <br>date on all NEW <br>Products and Explosive Fireworks Deals</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-warning display-4" target="_blank">Learn more&nbsp;</a></div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <!-- <div class="item-img">
                            <img src="assets/images/mbr-696x309.jpeg" alt="">
                        </div> -->
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>State Fireworks</strong><br><strong>Laws</strong></h5>

                            <p class="mbr-text mbr-fonts-style mt-3 display-7">Learn more about <br>State Fireworks Laws</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-warning display-4" target="_blank">Learn more </a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content4 cid-sse1ncu8yf" id="content4-j">


        <div class="container">
            <div class="row justify-content-center">
                <div class="title col-md-12 col-lg-9">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-5">
                        <strong>Wholesale Fireworks offers a full line of</strong>
                    </h3>
                    <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5">Firecrackers, Bottle Rockets, Roman Candles, Party Poppers, Wedding Sparkles, 50 grams Repeaters and Mortars.</h4>

                </div>
            </div>
        </div>
    </section>

    <section class="footer2 cid-sse7b6Kas4" once="footers" id="footer2-n">

        <h3 style="color: white;" class="mbr-section-title mbr-fonts-style align-center mb-4 display-5">
            <strong>Wholesale Fireworks has three Ohio Retail Fireworks Locations</strong>
        </h3>

        <div class="container">
            <div class="row mbr-white">
                <div class="col-6 col-md-4 col-lg-3">

                    <ul class="list mbr-fonts-style display-7">
                        <li class="mbr-text item-wrap">Home</li>
                        <li class="mbr-text item-wrap">Site Map</li>
                        <li class="mbr-text item-wrap">About Us</li>
                        <li class="mbr-text item-wrap">Terms Conditions</li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-3">

                    <ul class="list mbr-fonts-style display-7">
                        <li class="mbr-text item-wrap">Contact Us</li>
                        <li class="mbr-text item-wrap">Coupons</li>
                        <li class="mbr-text item-wrap">Definitions</li>
                        <li class="mbr-text item-wrap">Locations</li>
                        <li class="mbr-text item-wrap">Newsletter</li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-3">

                    <ul class="list mbr-fonts-style display-7">
                        <li class="mbr-text item-wrap">Online Purchase Form</li>
                        <li class="mbr-text item-wrap">Price Lists</li>
                        <li class="mbr-text item-wrap">Pyro Friends</li>
                        <li class="mbr-text item-wrap">Rules</li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-3">

                    <ul class="list mbr-fonts-style display-7">
                        <li class="mbr-text item-wrap"><span style="font-size: 1.4rem;">State Laws</span></li>
                        <li class="mbr-text item-wrap">Testimonials</li>
                        <li class="mbr-text item-wrap">Track</li>
                        <li class="mbr-text item-wrap">Purchase Form</li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!-- <section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;">
        <a href="https://mobirise.site/e" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a>
        <p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Build a website -
            <a href="https://mobirise.site/w" style="color:#aaa;">Check this</a>
        </p>
    </section> -->
    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/sociallikes/social-likes.js"></script>
    <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="assets/parallax/jarallax.min.js"></script>
    <script src="assets/dropdown/js/nav-dropdown.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="assets/theme/js/script.js"></script>


    <div id="scrollToTop" class="scrollToTop mbr-arrow-up">
        <a style="text-align: center;">
            <i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i>
        </a>
    </div>
    <input name="animation" type="hidden">
</body>
