@{
    ViewData["Title"] = "Business Policies";
}
<h1>@ViewData["Title"]</h1>

<hr />

<h3>Product Cost Policy:</h3>
<p>
    The products listed on our website reflect the price 
    that the purchaser will pay without any included taxes or shipping fees.
</p>

<h3>Services Provided Policy:</h3>
<p>
    We directly provide the service of acting as a fireworks seller.
    Shipping is handled by thir-parties such as UPS, USPS, FedEx, etc.
</p>

<h3>Shipping Policy:</h3>
<p>
    Shipping is handled by UPS, USPS, FedEx, etc, and the purchaser 
    agrees to pay any and all assosicted costs for shipping.
</p>

<h3>Tax Policy:</h3>
<p>
    All purchases are subject to Ohio State Taxes as well as 
    any other shipping or taxes related to point of delivery.
</p>

<h3>Merchandice Policy:</h3>
<p>
    Merchancie is currently unable to be returned due to the Coronavirus Pandemic.
</p>

